
.visible {
  z-index: 10 !important;
}

.slides {
/*  display: none;*/
}

.noise {
  display: none;
}

#slideshow {
  filter: invert(1);
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  z-index: 10;
}

