#canvas {
  position: fixed;
  top: 0;
  left: 0;
}

.viz {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cover-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  justify-self: center;
  align-self: center;
  mix-blend-mode: color-dodge;
}


.label-logo {
  z-index: 10;
  max-width: 1000px;
  text-align: center;
  position: relative;
  margin: auto;
  color: white;
  font-size: 400%;
}

.label-logo .logo-image {
  width: 80%;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: black;
  color: white;
  font-size: 12px;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 13px;
}

.visualizer #video {
  display: none;
}
.visualizer #video iframe {
  width: 100%;
  height: 100%;
}

.visualizer .fullscreen,
.visualizer .generate-world,
.visualizer .show-controls {
  cursor: pointer;
}
.visualizer #loading {
  font-size: 2em;
  line-height: 2em;
  padding: 1em;
}
.visualizer #loading .status {
  font-family: Monospace, mono-space;
  letter-spacing: 0.3em;
}
.visualizer canvas:-webkit-full-screen {
  width: 100% !important;
  height: 100% !important;
}
.visualizer canvas:-moz-full-screen {
  width: 100% !important;
  height: 100% !important;
}
.visualizer .key {
  border-radius: 4px;
  min-width: 24px;
  display: inline-block;
  text-align: center;
  padding: 2px;
  color: #333;
  background-color: #fff;
}
.visualizer body .dg.ac {
  top: 60px;
}
.visualizer a {
  color: #f00;
}


.site-info,
.controls {
  position: fixed;
  bottom: 5px;
  letter-spacing: 2px;
  font-size: 18px;
}
.site-data {
  height: 100%;
}

@media screen and (max-device-width: 480px) {
  html,
  body {
    overflow: hidden;
    letter-spacing: 8px;
  }
  body {
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  #listen-button {
    width: 320px;
  }
  .controls,
  .visualizer {
    display: none;
  }
  .site-data {
    overflow-y: scroll;
    height: calc(100% - 41px);
  }
  .label-logo {
    padding: 0;
    width: auto;
  }
  .label-logo .logo-image {
    width: 50px;
  }
}
.demoText {
  position: absolute;
  text-align: center;
  width: 100%;
  font-size: 44px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}